/* App */

/* Gallery */
.resto-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

/* RestaurantComponent */
.resto-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(179, 185, 197);
}

.resto-element_image {
    width: 300px;
    height: fit-content;
    border-radius: 3px;
}

.resto-element_name {
    color: black;
}

.resto-element_foodType {
    color: black;
}

.bootcamp-list__person--instructor {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}

.bootcamp-list__person--developer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}

.--selected {
    background-color: rgb(179, 185, 197);
}

.developer-button {
    visibility: hidden;
}

.bootcamp-list__person__button-delete {
    visibility: visible;
}

.person-name {
    color: rgb(4, 114, 173);
}